html, body {
  margin: 0;
  height: 100%;
}

div.graphs {
  height: 450px;
  width: 750px;
  border: 1px solid black;
  display: inline-block;
}
div.title {
  height: 50px;
  width: 750px;
  border: 0px solid black;
  display: inline-block;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.path {
    stroke: steelblue;
    stroke-width: 2;
    fill: red;
}
.help_line {
    stroke: gray;
}
.SD_area {
    opacity: 0.25;
}

.axis g.tick text{
  font-size: 12px;
}

.text {
  font-family: "Verdana", sans-serif;
  /*font-family: "Times New Roman", Times, serif;*/
}

.AxisText{
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  fill: black;
}

.axisX g.tick text{
  fill: gray;
}

.axisY1 g.tick text{
  fill: Colors[0];
}
